@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 267 0% 100%;
  --foreground: 267 0% 10%;
  --card: 267 0% 100%;
  --card-foreground: 267 0% 15%;
  --popover: 267 0% 100%;
  --popover-foreground: 267 95% 10%;
  --primary: 267 50% 42.4%;
  --primary-foreground: 0 0% 100%;
  --secondary: 267 10% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 229 10% 95%;
  --muted-foreground: 267 0% 40%;
  --accent: 229 10% 90%;
  --accent-foreground: 267 0% 15%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 267 0% 100%;
  --border: 0 0% 87%;
  --input: 267 37% 77%;
  --ring: 267 50% 42.4%;
  --radius: 0.75rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
  
}

h1 {
  font-size: 1.5rem;
}

div {
  padding: 5px;
}